
body {background-color: #07081a;}

#storyTitle {opacity: 51%;color: white;z-index: 2;position: absolute;top: calc(100vw*126/1920);left: calc(100vw*103/1920);}
#storyTitle h1{color: white;font-weight: bold;font-size: calc(100vw*153.11/1920);margin-bottom: calc(100vw*20/1920);}
#storyTitle h2{font-size: calc(100vw*16/1920);}

/* 캐릭터 */
#listSection {position: absolute;top: calc(100vw*360/1920);left: calc(100vw*119/1920);}
#listSection #characterList {color: white;font-size: calc(100vw*57.67/1920);line-height: 200%;font-weight: bold;}
#characterList .characterLi {display: inline-block;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1); -o-transform:scale(1);  transform:scale(1);-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
#characterList .characterLi:hover {color: #f99e1a;-webkit-transform:scale(1.4);-moz-transform:scale(1.4);-ms-transform:scale(1.4);   -o-transform:scale(1.4);transform:scale(1.4);}
#characterList .characterLi.selected {color: #f99e1a;}
#characterPic {position: fixed;width: 50%;height: 100vh;margin-left: calc(100vw*900/1920);}

/* 플립 */
.characterPic article .card {margin-top: calc(100vw*500/1920);position: relative;perspective: calc(100vw*1000/1920);}
.card .front,.card .back {position: absolute;display: flex;flex-direction: column;justify-content: center;align-items: center;top: 0;left: 0;width: 100%;height: 100%;cursor: pointer;transition: transform 1s;backface-visibility: hidden;transform-style: preserve-3d;}
.card img {width: 100%;transition: all 0.6s ease 0.2s;}
/* 카드 뒷면은 현재 뒤집어져있는 상태입니다. */
.card .back {transform: rotateY(-180deg);}
/* 카드 뒷면에 글을 적어주기 위한 css입니다. */
.card .caption {position: absolute; left: 50%; top: 50%;backface-visibility: hidden;transform: translate(-50%,-50%) translateZ(100px);color: #fff;font-size: 18px;display: block;text-align: center; line-height: 150%;}
/* 카드 뒷면의 캐릭터 이름 */
.card .caption h3 { min-width: calc(100vw*200/1920);font-weight: 600;text-transform: uppercase;font-size: calc(100vw*24/1920);}
/* 카드 뒷면의 캐릭터 소개 */
.card .caption p {font-weight: 200;padding-top: calc(100vw*5/1920);}
.card img {width: calc(100vw*712/1920);}
/* 카드를 호버하면 앞면이 180도 로테이트 됩니다. */
.card:hover .front {transform: rotateY(180deg);}
/* 동시에 뒷면도 로테이트 됩니다. 이 css를 주지 않을시 뒷면은 아예 보이지 않습니다. */
.card:hover .back {transform: rotateY(0);}
/* 처음에는 전부 보이지 않다가 스크립트로 보이게 해주기 위해 준 css입니다. */
#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8{display: none;}