
body {overflow: hidden;}
.mainBack {width: 100vw;height: 100vh;top: calc(100vw*-70/1920);}
.mainBack video {width: 100%;height: 100vh;object-fit: cover;}

#cocoLogo {filter: drop-shadow(5px 5px 5px #000);width: calc(100vw*933/1920);z-index: 1;position: absolute;top: 50%;left: 50%;transform:translate(-50%, -50%);animation-name: move1;animation-duration: 1s;animation-fill-mode: forwards;opacity: 0;}
#btnDiv {text-align: center;z-index: 10;width: 100%;height: 60px;position: absolute;top: 60%;left: 0;}
#btnDiv #entranceBtn {width: calc(100vw*325/1920);display: inline-block;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1); -o-transform:scale(1);  transform:scale(1);z-index: 1;margin: 0 auto;animation-name: move2;animation-duration: 1s;animation-fill-mode: forwards;animation-delay: 2s;opacity: 0;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
#btnDiv #entranceBtn:hover {-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);   -o-transform:scale(1.2);transform:scale(1.2);}

@keyframes move1 {
    0% {top: 50%;}
    100% {top: 40%;opacity: 1;}
}
@keyframes move2 {
    0% {top: calc(100vw*700/1920);}
    100% {top: calc(100vw*600/1920);opacity: 1;}
}
