
body {background-color: #07081a;overflow-y: hidden;}


.slide-holder{margin:0 auto;padding-top: calc(100vw*230/1920);}
.slide-holder .slide-container {height: calc(100vw*600/1920);width: 100%;overflow: hidden;position:relative;}
.slide-holder .slide-container div {vertical-align: middle;}
.slide-holder .slide-container .slide-stage{position: absolute;line-height: 100%;}
.slide-holder .slide-container .slide-stage .slide-image {float:left;width:calc(100vw*300/1920);height:calc(100vw*600/1920);text-align: center;position: relative;}
.slide-holder .slide-container .slide-stage .slide-image img{ position: absolute;display: block;width:100%;margin:auto auto;top: 50%;left: 50%;transform: translate(-50%, -50%);filter: brightness(50%); -webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
.slide-holder .slide-container .slide-stage .slide-image .imgP {position: absolute;bottom: 80px;color: rgb(129, 129, 129);left: 50%;transform: translate(-50%,0);-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
.slide-holder .slide-container .slide-stage .slide-image .imgP .slideTitle {line-height: 100%;height: 30px;font-size: 20px;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
.slide-holder .slide-container .slide-stage .slide-image .imgP .slideP{font-size: calc(100vw*8/1920);}
.slide-holder .slide-container .slide-stage .slide-image .imgP .slideP#slideP3,
.slide-holder .slide-container .slide-stage .slide-image .imgP .slideP#slideP4 {margin-top: calc(100vw*20/1920);}
.slide-holder .slide-pager{position:relative;}
.slide-holder .slide-pager div {position: absolute;text-align: center;width: calc(100vw*25/1920);height: calc(100vw*60/1920);line-height: calc(100vw*60/1920);color: #fff;cursor: pointer;top: calc(100vw*280/1920);}
.slide-holder .slide-pager div.slide-control-prev{left: calc(100vw*-30/1920);}
.slide-holder .slide-pager div.slide-control-next{right: calc(100vw*-30/1920);}