body {overflow: hidden;}

.gallery{position:relative;width:100vw;height:100vh}
.gallery .view{overflow:hidden;position:relative;width:100%;height:100%}
.gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}
.gallery .view .view-container::after{content:'';display:block;position:relative;clear:both}
.gallery .view .view-container .view-item{position:relative;float:left;width:100%;height:100%;}
.gallery .view .view-container .view-item img{display:block;height:100%;object-fit: cover;}
.gallery .view .view-container .view-item .storyContent {font-size: calc(100vw*24/1920);position: absolute;top: calc(100vw*484/1920);left: calc(100vw*104/1920);z-index: 999;color: white; line-height: 150%; width: 1500px; word-break: keep-all;}

.gallery .paddle-nav button{position:absolute;z-index:50;top:50%;width:52px;height:52px;margin-top:-26px;border:4px solid #000;border-radius:52px;background-color:rgba(214,214,214,0.25);cursor:pointer;-webkit-transition:background-color 180ms ease-in-out}
.gallery .paddle-nav button:hover{background-color:rgba(214,214,214,0.75)}
.gallery .paddle-nav button::after{display:inline-block;position:relative;text-decoration:none;color:inherit;font-family:'SF Pro Icons';font-size:inherit;font-weight:inherit;font-style:normal;line-height:1;z-index:1}
.gallery .paddle-nav button.disabled{display:none}
.gallery .paddle-nav button.prev{left:18px}
.gallery .paddle-nav button.next{right:18px}
.gallery .paddle-nav button.prev::after{content:"";display:block;position:absolute;top:50%;left:50%;margin-left:2px;padding:5px;border-right:4px solid #000;border-bottom:4px solid #000;transform:translateX(-50%) translateY(-50%) rotate(135deg)}
.gallery .paddle-nav button.next::after{content:"";display:block;position:absolute;top:50%;left:50%;margin-left:-2px;padding:5px;border-right:4px solid #000;border-bottom:4px solid #000;transform:translateX(-50%) translateY(-50%) rotate(-45deg)}