body {background-color: #07081a;overflow-y: hidden;}
#trailerTitle {opacity: 51%;color: white;z-index: 2;position: fixed;top: calc(100vw*126/1920);left: calc(100vw*103/1920);}
#trailerTitle h1{color: white;font-weight: bold;font-size: calc(100vw*153.11/1920);margin-bottom: calc(100vw*20/1920);}
#trailerTitle h2{font-size: calc(100vw*16/1920);}
#trailerSection {padding-top: calc(100vw*400/1920);width: calc(100vw*4700/1920);height: calc(100vw*800/1920);}
#trailerSection .videos {display: inline-block;margin: 0 calc(100vw*100/1920);}