html, body{width:100%;height:100vh;overflow-y: hidden;}
.sectionEls {width:100%;height:100vh;}
#scroll-section1 .firstVideo {width: 100%;height: 100vh;object-fit: cover;}
#scroll-section2.videoSection {overflow: hidden;}
#scroll-section2.videoSection .disNone {display:none;}
#scroll-section2.videoSection .mainVideo .videos {width:100%;height:100vh;object-fit: cover;}