body {background-color: black;}
body::-webkit-scrollbar {display: none;}
.sectionCur {box-sizing: border-box; height: 100vh;position: relative;display: flex;}
.sectionCur .divImg {display: flex;align-items: center;}
.sectionCur .divImg img { margin-left: 100px;margin-right: 100px;height: 80%;display: inline-block;}
.sectionCur .divVideo{box-sizing: border-box;height: 100vh;width: fit-content;display: flex;align-items: center;padding-right: 200px;}