
::-webkit-scrollbar { display: none; }


.whiteIcon {
    display: none;
}

.sectionTypes {
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    z-index: 30;
    /* display: none; */
}

.mainTypeList {display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; margin: 0 auto; text-align: center;}
.mainTypeList li {
    display: inline-block;
    cursor: pointer;
    /* border: solid 1px blue; */
}
.mainTypeList .type1 {margin-right: calc(100vw*364/1920);}
.mainTypeList .type2 {margin-right: calc(100vw*329/1920);}
.mainTypeList .type4 {margin-right: calc(100vw*348/1920); margin-top: calc(100vw*228/1920);}

.typeRate {font-size: calc(100vw*36/1920); margin-bottom: calc(100vw*4/1920);}
.typeName {font-family: 'ITCAvantGardeStd-Bold'; font-size: calc(100vw*80/1920);}

/* object Page */

.sectionObjects {
    display: none;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; */
    background-color: white;
    z-index: 100;
}

.sectionTop {
    width: 100%;
    height: 269px;
}

.backBtn {
    position: absolute;
    top: 141px;
    left: calc(100vw * 75 / 1920);
    
}
.backBtn img {
    width: calc(100vw * 45 / 1920);
}

.typeTitle {
    font-family: 'AppleSDGothicNeoM';
    position: absolute;
    font-size: calc(100vw * 36 / 1920);;
    top: 126px;
    left: calc(100vw * 156 / 1920);
}

.typeTitle strong {
    font-family: 'ITCAvantGardeStd-Md';
    font-size: calc(100vw * 48 / 1920);
    margin-right: calc(100vw * 44 / 1920);
}

.typeList {
    position: absolute;
    font-family: 'ITCAvantGardeStd-Md';
    top: 141px;
    right: calc(100vw * 66 / 1920);
}

.typeList li{
    letter-spacing :1px;
    margin-left: calc(100vw * 5 / 1920);
    margin-right: calc(100vw * 5 / 1920);
    font-size: calc(100vw * 24 / 1920);
    display: inline-block;
    cursor: pointer;
}

.objectList {
    width: 1800px;
    margin: 0 auto;
    text-align: center;
    
}

.objectLi {
    width: 414px;
    height: 495px;
    position: relative;
    display: inline-block; 
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    /* border: solid 1px blue; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 52px;
}

.objectLi img {
    width: 414px;
    height: 414px;
    position: absolute;
    left: 0;
}

.objectText {
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    width: 414px;
    height: 414px;
    /* border: 1px solid red; */
    top: 0;
    left: 414px;
    display: none;
    padding-top: 72px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #DADFE5;
}

.objectText p {
    font-size: 18px;
    font-family: 'AppleSDGothicNeoM';
}

.text1 {
    margin-bottom: 9px;
}

.objectText .objectReason {
    word-break: keep-all;
    font-size: 24px;
    line-height: 42px;
}
.reasonobject {
    word-break: keep-all;
    font-size: 18px !important;
    line-height: 150% !important;
}
.maxReasonobject {
    word-break: keep-all;
    font-size: 12px !important;
    line-height: 180% !important;
}

strong {
    font-size: 24px;
    font-family: 'AppleSDGothicNeoB';
}



.objectLine {
    width: 100%;
    /* height: 1px; */
    border: solid 1px black;
    margin-top: 22.8px;
    margin-bottom: 15.5px;
}

.code {
    font-family: 'AppleSDGothicNeoM';
    font-size: 29px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}