.sectionOo {
    background-color: black;
    color: white;
    position: relative;
}

a {
    color: white;
}
.sectionOo div {
    position: absolute;
    top: calc(100vh * 371 / 1080);
    left: calc(100vw * 70 / 1920);
}
.sectionOo h1 {
    
    font-size: calc(100vw * 163 / 1920);
    font-family: 'ITCAvantGardeStd-Bold';
    margin-bottom: 70px;
}
.sectionOo li {line-height: calc(100vh * 90 / 1080);}
.sectionOo li p {
    display: inline-block;
    font-size: calc(100vw * 36 / 1920);
    font-family: 'ITCAvantGardeStd-Bold';
}
.sectionOo li p+p {
    font-size: calc(100vw * 22 / 1920);
    font-family: 'AppleSDGothicNeoB';
    margin-left: calc(100vw * 41 / 1920);
}

