.engFontM {font-family: 'ITCAvantGardeStd-Md';}
.engFontB {font-family: 'ITCAvantGardeStd-Bold';}
.korFontM {font-family: 'AppleSDGothicNeoM';}
.korFontB {font-family: 'AppleSDGothicNeoH';}

.allListIcon {position: absolute; top: 46px; right: 185px; z-index: 100; font-size: 20px;}
.allListIcon img {margin-right: 9px; opacity: 18%;}
body{background-color: black; position: relative; -ms-overflow-style: none; width: 100vw; height: 100vh;} ::-webkit-scrollbar { display: none; }
html, body {overflow: hidden; font-size: 16px;}



.divTop {position: absolute; top: 0; left: 0; width: 100vw; height: 200px; background-color: black; z-index: 50;}
.divTop p {position: absolute; bottom: 44px; left: 55%; font-size: 48px; color: white; font-family: 'ITCAvantGardeStd-Md';}

/* 섹션 리스트 */
.sectionList {width: 100vw; height: 100vh; font-size: 0;}

.divThumb{position: relative; box-sizing: border-box; display: inline-block; width: 55%; height: 100vh; overflow: hidden; z-index: 100;}
.divThumb img{ position: absolute; width: calc(100vw * 700 / 1920); top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* div List */
.divList{box-sizing: border-box; display: inline-block; width: 45%; height: 100%; overflow: scroll; position: relative; }
.divAllList{box-sizing: border-box; display: none; width: 45%; height: 100%; overflow: hidden; position: relative;  z-index: 50;}

/* 랜덤 리스트 */
.divList > ul.projectsList {position: absolute; width: 100%; top: 200px; left: 0;}
.divList > ul.projectsList > li {font-size: calc(100vw * 50 / 1920); margin-bottom: 30px; margin-top: 30px;
    /* -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s; */
    display: inline-block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    /* padding-right: 200px; */
    
}
.divList > ul.projectsList > li > a {color: white; opacity: 50%; float: right; margin-right: calc(100vw * 200 / 1920);
-webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.divList > ul.projectsList > li > a:hover {opacity: 100%;font-size: calc(100vw * 60 / 1920);}
/* .divList > ul.projectsList > li > a:hover .projectNum{color: white !important;} */
.divList > ul.projectsList > li > div {float: left; font-size: 10px; color: white; height: 100px; padding: 0;}
.divList > ul.projectsList > li > div p {margin-top: 10px; margin-bottom: 10px; line-height: 0; }
.numCode p {font-family: 'ITCAvantGardeStd-Md';}
.projectNum { font-size: 24px; padding-top: 20px; color: #a0a0a0;}
.projectCode { font-size: 18px; padding-top: 30px; color: #505050;}


/* projects All List */
.divAllList > ul.projectsAllList {position: absolute; top: 200px; left: 0; background-color: black; display: inline-block;}
.divAllList > ul.projectsAllList:nth-child(2) {left: calc(100vw * 250 / 1920);}
.divAllList > ul.projectsAllList:last-child {left: calc(100vw * 500 / 1920);}
.divAllList > ul.projectsAllList li {color: white; font-size: calc(100vw * 24 / 1920); line-height: 50px; z-index: 100000; opacity: 50%;}
.divAllList > ul.projectsAllList li p{font-size: calc(100vw * 14 / 1920); display: inline-block; margin-right: calc(100vw * 20 / 1920); width: calc(100vw * 23 / 1920);}


/* 프로젝트 상세 페이지. */
.projectPage {position: absolute; top: 0; bottom: 0; width: 100vw; height: 100vh; background-color: black; display: none; font-size: 0; z-index: 150;}

.deleteBlue {position: absolute; left: 76px; margin-top: calc(100vh * 53 / 1080); z-index: 300; color: white;}

/* 체인지 버튼 */
.changeIcons {position: absolute; left: 76px; margin-top: calc(100vh * 107 / 1080); color: white; font-size: 40px; z-index: 500;}
.goProjectPage {display: inline-block;}
.goMemberPage {display: inline-block;}
.btn1-1 { display: none; 
    width: calc(100vw * 50 / 1920); height: calc(100vh * 50 / 1080);
}
.btn1-2 { display: block; 
    width: calc(100vw * 50 / 1920); height: calc(100vh * 50 / 1080);
}
.btn2-1 {display: block; 
    width: calc(100vw * 50 / 1920); height: calc(100vh * 50 / 1080);
}
.btn2-2 {display: none; 
    width: calc(100vw * 50 / 1920); height: calc(100vh * 50 / 1080);
}

/* 텍스트 */
.textPart{position: relative; box-sizing: border-box; display: inline-block; width: 43%; height: 100vh; overflow: hidden;}

/* 프로젝트 소개 페이지 */
.mobileProject {display: none;}
.projectTextBox {position: absolute; left: 76px; color: white; font-size: calc(100vw * 10 / 1920); margin-top: calc(100vh * 220 / 1080); margin-right: calc(100vw * 70 / 1920); word-break: keep-all;}
.projectText1 {font-size: calc(100vw * 20 / 1920);}
.projectText2 {font-size: calc(100vw * 60 / 1920); margin-top: calc(100vh * 28 / 1080); margin-bottom: calc(100vh * 28 / 1080);}
.projectText3 {font-size: calc(100vw * 24 / 1920); line-height: 36px; margin-top: calc(100vh * 68 / 1080); margin-bottom: calc(100vh * 107 / 1080);font-family: 'AppleSDGothicNeoM';}
.projectTextBox ul {margin-bottom: calc(100vh * 36 / 1080);font-family: 'AppleSDGothicNeoM'; display: flex;}
.projectTextBox li {display: inline-block; font-size: calc(100vw * 20 / 1920);}
.projectLiFirst{margin-right: 70px;}

/* 팀 소개 페이지 */
.teamTextBox {position: absolute;
    
    margin-top: calc(100vh * 220 / 1080); 
    left: 76px; 
    color: white; 
    font-size: calc(100vw * 10 / 1920); 
    display: none; 
    margin-right: 100px; 
    word-break: keep-all;
}
.teamText1 {font-size: calc(100vw * 20 / 1920); font-family: 'AppleSDGothicNeoM';}
.teamText2 {font-size: calc(100vw * 60 / 1920); margin-top: calc(100vh * 28 / 1080); margin-bottom: calc(100vh * 28 / 1080);}
.teamText3 {font-size: calc(100vw * 24 / 1920); line-height: 36px; margin-top: calc(100vh * 68 / 1080); margin-bottom: calc(100vh * 107 / 1080);font-family: 'AppleSDGothicNeoM';}
.teamTextBox ul {margin-bottom: 36px;font-family: 'AppleSDGothicNeoM';}
.teamTextBox li {display: inline-block; font-size: calc(100vw * 20 / 1920);}
.teamLiFirst{width: 130px;font-family: 'AppleSDGothicNeoB';}

/* .detailbox {position: absolute; left: 76px; color: white; font-size: 20px;} */

/* 이미지 */
.imagePart{
    box-sizing: border-box; 
    display: inline-block; 
    width: 57%;
    height: 100%; 
    overflow: hidden; 
    position: relative;
    float: right;
}
.imagePart a {display: block;}
.firstImage {float: right;
     /* width: 100%; */
     height: 100vh; 
     /* object-fit: cover;  */
    }
/* .firstImage:hover {filter: brightness(18%);} */
.hoverDiv {display: none; position: absolute; top: 0; width: 100%; height: 100%;}
.hoverImage {position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);object-fit: cover; }
.on {display: block !important; background-color: rgba(0, 0, 0, 0.8);}

/* 멤버들 */
/* .secondImage {} */
.memberPart{box-sizing: border-box; display: none; width: 57%; height: 100vh; overflow: hidden;}
/* display inline-block으로 바꿔줘야됑 */

.memberFlex {display: flex; flex-direction: column;height: 100%;}
.memberFlex .meberart{height: 65%;}
.memberFlex .meberart video{width: 100%; height: 100%; object-fit: cover; z-index: 600;}

.memberPic {display: flex; flex-wrap:nowrap; box-sizing: border-box; height: 35%; justify-content: space-between;font-family: 'AppleSDGothicNeoM'; border-left: solid 1px white;}
.memberPic ul {width: 20%; display: inline-block; box-sizing: border-box; border-top: solid 1px white; border-right: solid 1px white;}
.memberPic li {font-size: 20px; color: white; overflow: hidden; text-align: center;}
.memberPhoto {width: 100%; height: 75%; filter: brightness(44%);}
.memberPhoto:hover {filter: brightness(100%);}
.memberPhoto img {width: 100%; height: 100%; object-fit: cover;}
.memberPic ul li+li {border-top: 1px solid white; padding-top: 19px; padding-bottom: 24px;}
.memberPhoto div{object-fit: cover;}
.memberPic ul li p:first-child{margin-bottom: 10px;}

.blankMember {display: none;}

@media only screen and (max-width:500px){
    /* .logo {position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 100;} */
    .menu {display: none;}

    .divTop { height: 150px; }
    .allListIcon {display: none;}
    .divThumb {display: none;}
    .divTop p {position: absolute; left: 50%; bottom: 30px; transform: translateX(-50%); font-size: 48px; color: white;}
    .divList{width: 100%;}
    .divList > ul.projectsList {position: absolute; width: 100%; top: 100px; }
    .divList > ul.projectsList > li {width: 100%;}
    .divList > ul.projectsList > li > a {color: white; opacity: 100%; float: right; font-size: calc(100vw * 40 / 500); margin-right: 10px;}
    .divList > ul.projectsList > li > .numCode {color: white; opacity: 100%; margin-left: 10px;}
    /* .divList > ul.projectsList > li:last-child {margin-bottom: 200px;} */
    .projectNum {font-size: 15px; color: white !important;}
    .projectCode {font-size: 15px; color: white !important;}
    .divList > ul.projectsList > li > a:hover {font-size: calc(100vw * 40 / 500);}

    .deleteBlue {position: absolute; left: 10px; margin-top: 30px; z-index: 300; color: white;}
    .deleteBlue img{width: 30px;}

    .changeIcons {position: absolute; left: 76px; margin-top: 20px; color: white; font-size: 40px; z-index: 500;}
    .goProjectPage {display: inline-block;}
    .goMemberPage {display: inline-block;}
    .btn1-1 { display: none; 
        width: 35px; height: 35px;
    }
    .btn1-2 { display: block; 
        width: 35px; height: 35px;
    }
    .btn2-1 {display: block; 
        width: 35px; height: 35px;
    }
    .btn2-2 {display: none; 
        width: 35px; height: 35px;
    }

    .textPart{ position: absolute; box-sizing: border-box; display: inline-block; width: 100%; height: 100%; overflow: auto;}

    .imagePart{ top:0; box-sizing: border-box; display: inline-block; width: 100%; height: 0%; overflow: hidden; position: absolute; display: none;}
    .firstImage {display: none; }

    /* 팀 페이지 */
    .memberPart{box-sizing: border-box; display: none; width: 100%; height: 100%; overflow: auto;}
    .teamTextBox ul {display: none;}
    .teamText1 {display: none;}
    .teamText2 {display: none;}
    .teamText3 {display: none;}
    .memberPic {}
    .memberPic ul li+li {font-size: 14px;}
    .memberPic ul {border-bottom: solid 1px white;}

    /* 프로젝트 페이지 */
    .projectTextBox {position: absolute; left: 10px; color: white; font-size: calc(100vw * 10 / 1920); margin-top: 0; margin-right: calc(100vw * 70 / 1920); word-break: keep-all;}
    .mobileProject { display: block !important; width: 100%; margin-top: 10px; margin-bottom: 20px;}
    .mobileProject img { width: 100%; height: 100%; object-fit: cover; margin-top: 70px;}
    .projectText1 {font-size: 20px;}
    .projectText2 {font-size: 40px; margin-top: 20px; margin-bottom: 20px;}
    .projectText3 {font-size: 15px; line-height: 120%; margin-top: 60px; margin-bottom: 60px;font-family: 'AppleSDGothicNeoM';}
    .projectTextBox ul {margin-bottom: 5px;font-family: 'AppleSDGothicNeoM'; display: flex;}
    .projectTextBox ul:last-child {margin-bottom: 100px;}
    .projectTextBox li {display: inline-block; font-size: 15px; line-height: 120%;}
    .projectLiFirst{margin-right: 20px;}


}