.engFontM {font-family: 'ITCAvantGardeStd-Md';}
.engFontB {font-family: 'ITCAvantGardeStd-Bold';}
.korFontM {font-family: 'AppleSDGothicNeoM';}
.korFontB {font-family: 'AppleSDGothicNeoH';}

body{background-color: black; position: relative; -ms-overflow-style: none; width: 100vw; height: 100vh;} ::-webkit-scrollbar { display: none; }
html, body {overflow: hidden; font-size: 16px;}

.allListIcon {position: absolute; top: calc(100vw * 46 / 1920); right: calc(100vw * 185 / 1920); z-index: 100; font-size: calc(100vw * 20 / 1920);}
.allListIcon img {margin-right: calc(100vw * 9 / 1920); opacity: 18%;}

.divTop {position: absolute; top: 0; left: 0; width: 100vw; height: 200px; background-color: black; z-index: 50;}
.divTop p {position: absolute; bottom: 44px; left: 55%; font-size: 48px; color: white; font-family: 'ITCAvantGardeStd-Md';}

/* 섹션 리스트 */
.sectionList {width: 100vw; height: 100vh; font-size: 0;}
.sectionList .divThumb{position: relative; box-sizing: border-box; display: inline-block; width: 55%; height: 100vh; overflow: hidden; z-index: 100;}
.sectionList .divThumb img{ position: absolute; width: calc(100vw * 700 / 1920); top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* div List */
.sectionList .divList{box-sizing: border-box; display: inline-block; width: 45%; height: 100%; overflow: scroll; position: relative; }
.sectionList .divAllList{box-sizing: border-box; display: none; width: 45%; height: 100%; overflow: hidden; position: relative;  z-index: 50;}

/* 랜덤 리스트 */
.sectionList .divList > ul.projectsList {position: absolute; width: 100%; top: 200px; left: 0;}
.sectionList .divList > ul.projectsList > li {font-size: calc(100vw * 50 / 1920); margin-bottom: 30px; margin-top: 30px;display: inline-block;width: 100%;height: 100px;line-height: 100px;}
.sectionList .divList > ul.projectsList > li > a {color: white; opacity: 50%; float: right; margin-right: calc(100vw * 200 / 1920);-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
.sectionList .divList > ul.projectsList > li > a:hover {opacity: 100%;font-size: calc(100vw * 60 / 1920);}
.sectionList .divList > ul.projectsList > li > .numCode {float: left; font-size: 10px; color: white; height: 100px; padding: 0;}
.sectionList .divList > ul.projectsList > li > .numCode p {margin-top: 10px; margin-bottom: 10px; line-height: 0; font-family: 'ITCAvantGardeStd-Md';}
.sectionList .divList > ul.projectsList > li > .numCode p.projectNum { font-size: calc(100vw * 24 / 1920); padding-top: 20px; color: #a0a0a0;}
.sectionList .divList > ul.projectsList > li > .numCode p.projectCode { font-size: calc(100vw * 18 / 1920); padding-top: 30px; color: #505050;}

/* projects All List */
.sectionList .divAllList > ul.projectsAllList {position: absolute; top: 200px; left: 0; background-color: black; display: inline-block;}
.sectionList .divAllList > ul.projectsAllList:nth-child(2) {left: calc(100vw * 250 / 1920);}
.sectionList .divAllList > ul.projectsAllList:last-child {left: calc(100vw * 500 / 1920);}
.sectionList .divAllList > ul.projectsAllList li {color: white; font-size: calc(100vw * 24 / 1920); line-height: 50px; z-index: 100000; opacity: 50%;}
.sectionList .divAllList > ul.projectsAllList li p{font-size: calc(100vw * 14 / 1920); display: inline-block; margin-right: 0; width: calc(100vw * 43 / 1920);}


/* 프로젝트 상세 페이지. */
.projectPage {position: absolute; top: 0; bottom: 0; width: 100vw; height: 100vh; background-color: black; display: none; font-size: 0; z-index: 150;}
.projectPage .deleteBtn {position: absolute; left: 76px; margin-top: calc(100vw * 53 / 1920); z-index: 300; color: white;}

/* 체인지 버튼 */
.projectPage .changeIcons {position: absolute; left: 76px; margin-top: calc(100vw * 107 / 1920); color: white; font-size: 40px; z-index: 500;}
.projectPage .changeIcons .goProjectPage {display: inline-block;}
.projectPage .changeIcons .goProjectPage a .btn1-1 { display: none; width: calc(100vw * 50 / 1920); height: calc(100vw * 50 / 1920);}
.projectPage .changeIcons .goProjectPage a .btn1-2 { display: block; width: calc(100vw * 50 / 1920); height: calc(100vw * 50 / 1920);}
.projectPage .changeIcons .goMemberPage {display: inline-block;}
.projectPage .changeIcons .goMemberPage a .btn2-1 {display: block; width: calc(100vw * 50 / 1920); height: calc(100vw * 50 / 1920);}
.projectPage .changeIcons .goMemberPage a .btn2-2 {display: none; width: calc(100vw * 50 / 1920); height: calc(100vw * 50 / 1920);}

/* 텍스트 */
.projectPage .textPart{position: relative; box-sizing: border-box; display: inline-block; width: 43%; height: 100vh; overflow: hidden;}

/* 프로젝트 소개 페이지 */
.mobileProject {display: none;}
.projectPage .textPart .projectTextBox {position: absolute; left: 76px; color: white; font-size: calc(100vw * 10 / 1920); margin-top: calc(100vh * 220 / 1080); margin-right: calc(100vw * 70 / 1920); word-break: keep-all;}
.projectPage .textPart .projectTextBox .projectText1 {font-size: calc(100vw * 20 / 1920);}
.projectPage .textPart .projectTextBox .projectText2 {font-size: calc(100vw * 60 / 1920); margin-top: calc(100vh * 28 / 1080); margin-bottom: calc(100vh * 28 / 1080);}
.projectPage .textPart .projectTextBox .projectText3 {font-size: calc(100vw * 24 / 1920); line-height: 36px; margin-top: calc(100vh * 68 / 1080); margin-bottom: calc(100vh * 107 / 1080);font-family: 'AppleSDGothicNeoM';}
.projectPage .textPart .projectTextBox ul {margin-bottom: calc(100vh * 36 / 1080);font-family: 'AppleSDGothicNeoM'; display: flex;}
.projectPage .textPart .projectTextBox li {display: inline-block; font-size: calc(100vw * 20 / 1920);}
.projectPage .textPart .projectTextBox li.projectLiFirst{margin-right: 70px;}

/* 팀 소개 페이지 */
.projectPage .textPart .teamTextBox {position: absolute;margin-top: calc(100vh * 220 / 1080); left: 76px; color: white; font-size: calc(100vw * 10 / 1920); display: none; margin-right: 100px; word-break: keep-all;}
.projectPage .textPart .teamTextBox .teamText1 {font-size: calc(100vw * 20 / 1920); font-family: 'AppleSDGothicNeoM';}
.projectPage .textPart .teamTextBox .teamText2 {font-size: calc(100vw * 60 / 1920); margin-top: calc(100vh * 28 / 1080); margin-bottom: calc(100vh * 28 / 1080);}
.projectPage .textPart .teamTextBox .teamText3 {font-size: calc(100vw * 24 / 1920); line-height: 36px; margin-top: calc(100vh * 68 / 1080); margin-bottom: calc(100vh * 107 / 1080);font-family: 'AppleSDGothicNeoM';}
.projectPage .textPart .teamTextBox ul {margin-bottom: 36px;font-family: 'AppleSDGothicNeoM';}
.projectPage .textPart .teamTextBox li {display: inline-block; font-size: calc(100vw * 20 / 1920);}
.projectPage .textPart .teamTextBox li.teamLiFirst{width: 130px;font-family: 'AppleSDGothicNeoB';}


/* 이미지 */
.projectPage .imagePart{box-sizing: border-box; display: inline-block; max-width: 57%;height: 100%; overflow: hidden; position: relative;float: right;z-index: 50;}
.projectPage .imagePart a {display: block;}
.projectPage .imagePart a .firstDiv {float: right;width: fit-content;height: 100vh; position: relative;}
.projectPage .imagePart a .firstDiv .firstImage {float: right;height: 100vh;z-index: 150;}
.projectPage .imagePart a .hoverDiv {display: none; position: absolute; top: 0; width: 100%; height: 100%;}
.projectPage .imagePart a .hoverDiv.on {display: block !important; background-color: rgba(0, 0, 0, 0.8);}
.projectPage .imagePart a .hoverDiv .hoverImage {position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);object-fit: cover; }

/* 멤버들 */
/* .secondImage {} */
.projectPage .memberPart {box-sizing: border-box; display: none; width: 50%; height: 100vh; overflow: hidden; float: right;}
.projectPage .memberPart .memberFlex {display: flex; flex-direction: column;height: 100%;width: 100%; float: right;}
.projectPage .memberPart .memberFlex .memberVideo{height: 65%;}
.projectPage .memberPart .memberFlex .memberVideo video{width: 100%; height: 100%; object-fit: cover; z-index: 600;}

.projectPage .memberPart .memberFlex .memberPic {display: flex; flex-wrap:nowrap; box-sizing: border-box; height: 35%; justify-content: space-between;font-family: 'AppleSDGothicNeoM'; border-left: solid 1px white;}
.projectPage .memberPart .memberFlex .memberPic ul {width: 20%; display: inline-block; box-sizing: border-box; border-top: solid 1px white; border-right: solid 1px white;}
.projectPage .memberPart .memberFlex .memberPic ul li {font-size: 20px; color: white; overflow: hidden; text-align: center;}
.projectPage .memberPart .memberFlex .memberPic ul li.memberPhoto {width: 100%; height: 75%; filter: brightness(44%);}
.projectPage .memberPart .memberFlex .memberPic ul li.memberPhoto:hover {filter: brightness(100%);}
.projectPage .memberPart .memberFlex .memberPic ul li.memberPhoto img {width: 100%; height: 100%; object-fit: cover;}
.projectPage .memberPart .memberFlex .memberPic ul li.memberPhoto div{object-fit: cover;}
.projectPage .memberPart .memberFlex .memberPic ul li+li {border-top: 1px solid white; padding-top: 19px; padding-bottom: 24px;}
.projectPage .memberPart .memberFlex .memberPic ul li p:first-child{margin-bottom: 10px;}

.blankMember {display: none;}
.mobileTop {display: none;}

@media only screen and (max-width:500px){

    /* display: none; */
    .logo {display: none;}
    .menu {display: none;}
    .allListIcon {display: none;}
    .divTop {display: none;}
    .sectionList .divThumb {display: none;}
    .projectPage .imagePart{display: none;}
    .projectPage .imagePart a .firstDiv .firstImage {display: none;}
    .projectPage .textPart .teamTextBox ul {display: none;}
    .projectPage .textPart .teamTextBox .teamText1 {display: none;}
    .projectPage .textPart .teamTextBox .teamText2 {display: none;}
    .projectPage .textPart .teamTextBox .teamText3 {display: none;}
    .projectPage .memberPart .memberFlex .memberPic ul li p .leaderSpan {display:none;}

    .mobileTopContainer {display: block;position: fixed;top: 0;left: 0;width: 100vw;height: calc(100vw*177/500) !important;background-color: black;z-index: 99;}
    .mobileTopContainer .mobileTop {display: block;position: fixed;top: 0;left: 50%;transform: translate(-50%, 0%);z-index: 100;width: calc(100% - 25px);height: calc(100vw*177/500);background-color: black;border-bottom: 1px solid white;text-align: left;margin: 0 auto;}
    .mobileTopContainer .mobileTop img {margin-top: calc(100vw*35/500);}
    .mobileTopContainer .mobileTop .mobileData {width: calc(100vw*363/500);}
    .mobileTopContainer .mobileTop .mobileCircle {display: none;position: absolute;top: 0;right: 0;}

    .sectionList .divList{width: 100%;}
    .sectionList .divList > ul.projectsList {position: absolute; width: 100%; top: calc(100vw * 177 / 500); }
    .sectionList .divList > ul.projectsList > li {width: 100%; margin: 0;}
    .sectionList .divList > ul.projectsList > li > a {color: white; opacity: 100%; float: right; font-size: calc(100vw * 40 / 500); margin-right: 10px;}
    .sectionList .divList > ul.projectsList > li > .numCode {color: white; opacity: 100%; margin-left: 10px;}
    .sectionList .divList > ul.projectsList > li > .numCode .projectNum {font-size: 15px !important; color: white !important;}
    .sectionList .divList > ul.projectsList > li > .numCode .projectCode {font-size: 15px !important; color: white !important;}
    .sectionList .divList > ul.projectsList > li > a:hover {font-size: calc(100vw * 40 / 500);}

    .projectPage .deleteBtn {position: fixed; left: auto; right: 120px; margin-top: 30px; z-index: 3000; color: white; display: inline-block; width: 30px;}
    .projectPage .deleteBtn img{width: 30px;}

    .projectPage .changeIcons {position: fixed; right: 20px; margin-top: 20px; color: white; font-size: 40px; z-index: 500; text-align: right;}
    .projectPage .changeIcons .goProjectPage {display: inline-block;}
    .projectPage .changeIcons .goMemberPage {display: inline-block;}
    .projectPage .changeIcons .goProjectPage a .btn1-1 { display: none; width: 35px; height: 35px;}
    .projectPage .changeIcons .goProjectPage a .btn1-2 { display: block; width: 35px; height: 35px;}
    .projectPage .changeIcons .goMemberPage a .btn2-1 {display: block; width: 35px; height: 35px;}
    .projectPage .changeIcons .goMemberPage a .btn2-2 {display: none; width: 35px; height: 35px;}

    /* 프로젝트 페이지 */
    .projectPage .textPart{ position: absolute; box-sizing: border-box; display: inline-block; width: 100%; height: 100%; overflow: auto;}
    .projectPage .textPart .projectTextBox {position: absolute; left: 10px; color: white; font-size: calc(100vw * 10 / 1920); margin-top: 0; margin-right: calc(100vw * 70 / 1920); word-break: keep-all;}
    .projectPage .textPart .projectTextBox .mobileProject { display: block !important; width: 100%; margin-top: 10px; margin-bottom: 20px;}
    .projectPage .textPart .projectTextBox .mobileProject img { width: 100%; height: 100%; object-fit: cover; margin-top: calc(100vw * 177 / 500);}
    .projectPage .textPart .projectTextBox .projectText1 {font-size: 20px;}
    .projectPage .textPart .projectTextBox .projectText2 {font-size: 40px; margin-top: 20px; margin-bottom: 20px;}
    .projectPage .textPart .projectTextBox .projectText3 {font-size: 15px; line-height: 120%; margin-top: 60px; margin-bottom: 60px;font-family: 'AppleSDGothicNeoM';}
    .projectPage .textPart .projectTextBox ul {margin-bottom: 5px;font-family: 'AppleSDGothicNeoM'; display: flex;}
    .projectPage .textPart .projectTextBox ul:last-child {margin-bottom: 100px;}
    .projectPage .textPart .projectTextBox ul li {display: inline-block; font-size: 15px; line-height: 120%;}
    .projectPage .textPart .projectTextBox ul li.projectLiFirst{margin-right: 20px;}

    /* 팀 페이지 */
    .projectPage .memberPart{box-sizing: border-box; display: none; width: 100%; height: auto; overflow: scroll; margin-top: calc(100vw * 177 / 500);}
    .projectPage .memberPart .memberFlex {width: 100%;}
    .projectPage .memberPart .memberFlex .memberPic ul li+li {font-size: 14px;padding-top: 5px; padding-bottom: 5px;}
    .projectPage .memberPart .memberFlex .memberPic ul {border-bottom: solid 1px white; padding-bottom: 50px;}
    .projectPage .memberPart .memberFlex .memberPic ul li p:first-child{margin-top: 10px;}
    .projectPage .memberPart .memberFlex .memberPic ul li.memberPhoto {filter: brightness(100%);}
    .projectPage .memberPart .memberFlex .membervideo {-webkit-overflow-scrolling: touch;}
}