body {background-color: black;}
a {color: white;}
/* video {z-index: 10;} */

body{ position: relative; -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

.sectionTop {
    /* border: solid 1px red; */
    width: calc(100vw - 8%);
    height: auto;
    position: relative;
    /* margin: 0 auto; */
    padding: 0 2.6%;
}
.nav {height: auto; padding: 3%; position: relative;}
.logo {float: left;}

.titleArea {
    position: relative;
    margin-top: 7%;
    margin-bottom: 5%;
}

.title {
    color: white;
    font-family: 'ITCAvantGardeStd-Md';
    font-size: calc(100vw * 48 / 1920);
    letter-spacing :2.5px;
}

/* search */
.searchWrap {
    position: absolute;
    bottom: 0;
    right: 0;
}

input {
    background-color: transparent;
    width: calc(100vw * 421 / 1920);
    height: 40px;
    outline: 0;
    font-size: calc(100vw * 20 / 1920);
    padding-left: 8px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: solid white 2px;
    color: white;
}
input::-ms-clear,
input::-ms-reveal{ display:none; width:0; height:0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{ display:none;}

/* input.toBlack {border: 1px solid #fff; background-color: #000; color: #fff;} */
button {width: 2rem; height: 100%; outline: none; border: none; background: transparent; position: absolute; top: 0; right: 10px;}
button > img.buttonImg{width: 100%;}


.detailWrap {
    /* border: solid 2px green; */
    margin: 3% 0;
    width: 100%;
    /* height: 100%; */
}
.detailWrap li {
    display: inline-block;
    color: white;
    font-family: 'ITCAvantGardeStd-Md';
    font-size: calc(100vw * 24 / 1920);
    margin-right: 5.5%;
    padding-bottom: 5px;
    cursor: pointer;
}
.side-active {border-bottom: 3px white solid;}


.blackBack {position: absolute; top: 0; left: 0; width: 100vw; height: 100%; background-color: black; opacity: 80%; z-index: 200; display: none;}
.blackBack.on {display: block;}

.sectionList > ul.studentsList {width: calc(100vw - 4.2%); position: relative; margin: 0 auto; padding: 0 2%; font-size: 0;}
.sectionList > ul.studentsList > li {display: inline-block; position: relative; margin: 0 0.6%; margin-bottom: 8%; width: calc(25% - 1.2%);}
.sectionList > ul.studentsList > li > a > span > img {width: 100%; margin-bottom: 30px; object-fit: cover;}
.spotLight {position: absolute; z-index: 300; display: none; width: 100%; object-fit: cover;}
.spotLight.on {display: block;}

.name {
    /* padding-top: 30px; */
    margin-bottom: 5%;
    font-family: 'ITCAvantGardeStd-Md';
    font-size: calc(100vw * 18 / 1920);
    /* margin-left: 14.5px; */
    /* z-index: 3000; */
}
.name strong {
    font-family: 'AppleSDGothicNeoB';
    font-size: calc(100vw * 24 / 1920);
    margin-right: 7px;
}

.projectDetail {
    font-family: 'ITCAvantGardeStd-Md';
    font-size: calc(100vw * 18 / 1920);
    /* margin-left: 14.5px; */
}

.topBtn {
    z-index: 199;
    position: fixed;
    bottom: calc(100vw * 50 / 1920);
    right: calc(100vw * 50 / 1920);
    cursor: pointer;
}