@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');
html{width:100%;height:100vh;overflow-y: hidden;font-family: 'Noto Sans KR', sans-serif;}

section {width:100%;height:100vh;padding: 0;margin: 0;overflow: hidden;position: relative;background-color: #1D1D20;}
.sectionTitle{z-index: 999999999;position:absolute;top: calc(100vw*54/1920);left: calc(100vw*140/1920);color: white; font-size: calc(100vw*16/1920);}
.sectionTitle.black{color: black !important;}
.scrollBar {z-index: 10;position: absolute;top: calc(100vw*25/1920);right: calc(100vw*30/1920);color: #fff;font-size: calc(100vw*20/1920);}

/* section1 */
#section1 #list {margin-top: 50vh; transform: translateY(-50%);}
#section1 #list .mainText {animation-duration: 40s;animation-timing-function: linear;animation-iteration-count: infinite;animation-direction: alternate;}
#section1 #list .mainText#mainText1 {width: calc(100vw*5291/1920);animation-name: mainSlide1; margin-bottom: calc(100vw*50/1920);}
#section1 #list .mainText#mainText2 {width: calc(100vw*5532/1920);animation-name: mainSlide2;}
@keyframes mainSlide1 {
  from {margin-left: 0%;}
  to {margin-left: calc(100vw*-3371/1920);}
}
@keyframes mainSlide2 {
  from {margin-left: calc(100vw*-3612/1920);}
  to {margin-left: 0%;}
}

/* section2 - Project Goal */
#section2 {text-align: center;}
#section2 #section2Image { opacity: 0; margin-bottom: calc(100vw*50/1920);}
#section2 #section2Image img {width: calc(100vw*1158/1920);}
#section2 #section2Text {opacity: 0;color: white;font-size: calc(100vw*28/1920);font-weight: bold;line-height: 200%;}
@keyframes section2Move {
  0% {margin-top: calc(100vw*250/1920);opacity: 0;}
  100% {margin-top: calc(100vw*200/1920);opacity: 1;}
}
@keyframes section2Move2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* section3 - Project Goal */
#section3 #section3Image {width: calc(100vw*1600/1920);position: absolute;opacity: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);}
@keyframes section3Move {
  0% {margin-top: calc(100vw*50/1920);opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}

/* section4 - SWOT */
#section4 #section4Image {opacity: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
#section4 #section4Image img{ width: calc(100vw*1568/1920); }
@keyframes section4Move {
  0% {margin-top: calc(100vw*50/1920);opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}

/* section5  */
#section5 {text-align: center;}
#section5 #section5Text {width: 100%;opacity: 0;margin-top: calc(100vw*100/1920);left: 50%;transform: translateX(-50%);color: white;font-size: calc(100vw*32/1920);font-weight: bold;position: absolute;}
#section5 #section5Content {width: calc(100vw*893/1920);opacity: 0;top: 30%;left: 50%;position: absolute;transform: translateX(-50%);}
#section5 .section5Back {width: 100%;height: 100vh;object-fit: cover;}
@keyframes sectionApTxtMove {
  0% {margin-top: calc(100vw*50/1920);opacity: 0;}
  100% {margin-top: calc(100vw*100/1920);opacity: 1;}
}
@keyframes sectionApImgMove {
  0% {top: calc(100vw*200/1920);opacity: 0;}
  100% {top: calc(100vw*250/1920);opacity: 1;}
}

/* section6 - mock up */
#section6 .mockUp {width: 100%;height: 100vh;object-fit: cover;}

/* section8 - mock up */
#section8 .mockUp {width: 100%;height: 100vh;object-fit: cover;}

/* detail pages */
.datailDiv {width: 100%;height: 100vh;text-align: center;background-color: #222;overflow-x: hidden;-ms-overflow-style: none;}
.datailDiv .detailImg {margin-top: calc(100vw*-100/1920); width: 100%;}

/* detail video pages */
.detailPage video{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 50;width: calc(100vw*1300/1920);box-shadow: 5px 5px 8px gray;}
.detailPage .detailGif {z-index: 3;position: absolute;top: 0;left: 0;width: 100%;height: 100vh;object-fit: cover;}

/* section18 - mobile page */
#section18 #iphone {top: calc(100vw*100/1920);z-index: 10;position: absolute;left: 50%;transform:translateX(-50%);}
#section18 #iphone img {width: calc(100vw*378/1920);}
#section18 .mobileSlick {background-color: #1BFCD1;width: 100%;height: 100vh;}
#section18 .mobileSlick .pic {margin-top: calc(100vw*100/1920);}
#section18 .mobileSlick .pic img {position: relative;margin: 0 auto;width: calc(100vw*350/1920);}

/* section19 - Brand Identity */
#section19 {text-align: center;}
#section19 #section19Image {opacity: 0; margin-bottom: calc(100vw*50/1920);}
#section19 #section19Text {opacity: 0;color: white;font-size: calc(100vw*28/1920);font-weight: bold;line-height: 200%;}
@keyframes section19Move {
  0% {margin-top: calc(100vw*350/1920);opacity: 0;}
  100% {margin-top: calc(100vw*300/1920);opacity: 1;}
}
@keyframes section19Move2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* section20 - Tone */
#section20 {text-align: center;}
#section20 #section20Image {opacity: 0;margin-top: calc(100vw*150/1920);border-bottom: solid 1px white;margin-bottom: calc(100vw*100/1920);}
#section20 #section20Image img {width: 100%;}
#section20 #section20Text {opacity: 0;color: white;font-size: calc(100vw*28/1920);font-weight: bold;line-height: 200%;}

@keyframes section20Move {
  0% {margin-top: calc(100vw*100/1920);opacity: 0;}
  100% {margin-top: calc(100vw*150/1920);opacity: 1;}
}
@keyframes section20Move2 {
  0% {margin-top: calc(100vw*50/1920);opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}

/* section21 - Typography */
#section21 #typography {padding-top: calc(100vw*208/1920);}
#section21 #typography p {width: fit-content; white-space:nowrap; color: #4D4D4D;font-size: calc(100vw*64/1920);animation-timing-function: linear; animation-duration: 50s;animation-iteration-count: infinite;animation-direction: alternate;padding-bottom: 50px;}
#section21 #typography p#p1 {animation-name: slidein;}
#section21 #typography p#p2 {animation-name: slidein2;}
#section21 strong {color: white;}
@keyframes slidein {
  from {margin-left: 0;}
  to {margin-left: calc(100vw*-6325.45/1920);}
}
@keyframes slidein2 {
  from {margin-left: calc(100vw*-7466.34/1920);}
  to {margin-left: 0;}
}

/* 커서 호버 */
#cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);pointer-events:none}
#cursor-dot{z-index:600;width:4px;height:4px;border-radius:50%;background-color:#f00}
#cursor-bg{z-index:400;width:30px;height:30px;border:1px solid #fff;border-radius:50%;-webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955)}
#progress{z-index:500;color:#fff;width:30px;height:30px;border-radius:50%;-webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955)}
#cursor-bg.active{width:180px;height:180px;background-color:#fff;border-color:#fff;mix-blend-mode:exclusion}
#progress.active{width:60px;height:60px}
#progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
#progress.active span::after{content:'';text-transform:uppercase;font-size:0.833rem;line-height:1.333rem;opacity:0;-webkit-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955)}
#progress.active span::after{opacity:1.0}