/* body {background-color: #f0f0f0;} */

@font-face {
    font-family: 'pretendardExtraBold';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
    font-family: 'pretendardBold';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'pretendardMedium';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-Medium.otf') format('opentype');
}

img {display: block;}

body {font-family: 'pretendardBold';}

.fixedSize {width: 882px; margin: 0 auto;}
.fixedSize img {width: 100%;}

.blockDiv {text-align: center;}
.block {width: 390px; height: 434px; display: inline-block;border-radius: 40px; position: relative;}
.block img:nth-child(1){object-fit: cover; height: 434px; border-radius: 40px;}
/* .blockDiv1 .block:nth-child(1), .blockDiv1 .block:nth-child(3) {margin-right: 20px;}
.blockDiv1 .block:nth-child(1), .blockDiv1 .block:nth-child(2) {margin-bottom: 20px;} */
.block:nth-child(1), .block:nth-child(3) {margin-right: 20px;}
.block:nth-child(3), .block:nth-child(4) {margin-top: 20px;}
.block video {width: 390px; height: 434px; object-fit: cover;border-radius: 40px}
/* .blockText {border-radius: 0px;} */
.blockDiv1 .blockText {position: absolute; top: 339px; left: 76px; width: auto;}
.blockDiv2 .blockText {position: absolute; top: 361px; left: 76px; width: auto;}
.blockDiv3 .blockText {position: absolute; top: 369px; left: 76px; width: auto;}

.blockDiv1 {margin-top: 50px; margin-bottom: 101px;}

.blockDiv2{padding-top: 100px; padding-bottom: 150px;background-color: #f0f0f0;} 
.blockDiv2 .block:nth-child(2) {box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);} 
.blockDiv2 .block:nth-child(3) img {border-radius: 40px;} 

.blockDiv3{padding-top: 100px; padding-bottom: 150px;background-color: #f0f0f0;} 

.video {object-fit: cover;}

#section2 {position: relative; width: 100%; height: 540px; object-fit: cover;}
#section2 .video {object-fit: cover; height: 100%;}
/* #section2 .video img{object-fit: cover;} */
#section2 .text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#section2 .text h2 {color: #fff; font-size: 60px; font-weight: bold; line-height: 80px;}

#section3 {position: relative; width: 100%; height: 700px; object-fit: cover;}
#section3 .video {width: 100%; object-fit: cover;}
#section3 .text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#section3 .text h2 {color: #fff; font-size: 60px; font-weight: bold; line-height: 80px;}

#section4 {position: relative; width: 100%; height: 540px; object-fit: cover; overflow: hidden;}
#section4 .video {height: 100%; object-fit: cover;}
#section4 .text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#section4 .text h2 {color: #fff; font-size: 60px; font-weight: bold; line-height: 80px;}
.sec4Img {position: absolute; z-index: 1; top: 0; left: 50%; transform: translateX(-50%); width: 498px !important; margin-top: 133.5px;}


#section4 .text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff;}
#section4 .text h5 {font-size: 20px; font-weight: bolder; margin-bottom: 18px; line-height: 42px;}
#section4 .text h3 {font-size: 60px; font-weight: bold; margin-bottom: 30px;}
#section4 .text h2 {font-size: 150px; font-weight: bold; color: rgba(255, 255, 255, 0.2); -webkit-text-stroke: 2px white;}

#section9 {position: relative; width: 100%; height: 1080px; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;}
/* #section9 .video {object-fit: cover;} */
#section9 .text {position: absolute; width: 100%; top: 50%; left: 120px; transform: translateY(-50%); text-align: left;}
#section9 .text .subTitle {color: #CCCCCC; font-size: 26px; font-weight: bold; line-height: 40px; margin-bottom: 24px;}
#section9 .text .title {color: #fff; font-size: 60px; font-weight: bold; line-height: 80px; margin-bottom: 31px;}
#section9 .text .content {color: #A5C3CC; font-size: 26px; font-weight: bold; line-height: 40px;}
