@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

html{width:100%;height:100vh;overflow: hidden;}

section {width:100%;height:100vh;padding: 0;margin: 0;overflow: hidden;position: relative;background-color: #000000;}
section .damage{box-sizing: border-box;opacity: 0;transition-duration: 0.7s;height: 100vh;overflow: hidden;}
section .damage img{width: 100vw;height: 100%;object-fit: cover;}
@keyframes opacityAni {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* main */
.sectionMain video {width: 100%;height: 100vh;object-fit: cover;}
.sectionMain .scrollIcon{width: 100px;position: absolute;bottom: 10px;left: 50%;transform:translateX(-50%);opacity: 0;animation-name: scrollIconAni;animation-duration: 1s;animation-delay: 1s;animation-fill-mode: forwards;}
@keyframes scrollIconAni {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* collabo */
.sectionCollabo .collaboLogo{z-index: 10;display: inline-block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); opacity: 0;}

/* about */
.sectionAbout {position: relative;}
.sectionAbout .para{display: inline-block;position: absolute;left: calc(100vw*239/1920);cursor: pointer;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.sectionAbout .para img {width: calc(100vw*589/1920);}
.sectionAbout .para#para1 {top: calc(100vw*150/1920);}
.sectionAbout .para#para2 {top: calc(100vw*350/1920);}
.sectionAbout .para#para3 {top: calc(100vw*550/1920);}
.sectionAbout .para1Text{z-index: 10;display: inline-block;position: absolute;top: calc(100vw*181/1920);left: calc(100vw*989/1920);color: #cdcdcd;font-size: calc(100vw*25/1920);line-height: calc(100vw*51/1920);font-family:"Noto Sans KR",sans-serif;letter-spacing: -0.02em;}
/* .para1Blank{z-index: 1000;display: inline-block;position: absolute;top: calc(100vw*455/1920);left: calc(100vw*222/1920);}
.para1Blank img {width: calc(100vw*621/1920);} */

/* noise */
.sectionNoise .noiseList {top: calc(100vw*296/1920);position: absolute;color: #ffffff;font-size: calc(100vw*50/1920);}
.sectionNoise .noiseList li {animation-timing-function: linear; font-family:"Noto Sans KR",sans-serif;white-space: nowrap; font-weight:700;padding-bottom: calc(100vw*50/1920) ;animation-duration: 70s;animation-iteration-count: infinite;animation-direction: alternate;}
.sectionNoise .noiseList li.noise1 {animation-name: slide1;}
.sectionNoise .noiseList li.noise2 {animation-name: slide2;}
.sectionNoise .noiseList li.noise3 {animation-name: slide3;}
.sectionNoise .noiseList li.noise4 {animation-name: slide4;}
.sectionNoise .noiseList li.noise5 {animation-name: slide5;}
  @keyframes slide1 {
    from {margin-left: 0%;}
    to {margin-left: calc(100vw*-3294.6/1920);}
  }
  @keyframes slide2 {
    from {margin-left: calc(100vw*-2938.5/1920);}
    to {margin-left: 0%;}
  }
  @keyframes slide3 {
    from {margin-left: 0%;}
    to {margin-left: calc(100vw*-3478.91/1920);;}
  }
  @keyframes slide4 {
    from {margin-left: calc(100vw*-2473.5/1920);}
    to {margin-left: 0%;}
  }
  @keyframes slide5 {
    from {margin-left: 0%;}
    to {margin-left: calc(100vw*-2712.91/1920);;}
  }

/* shoes */
.sectionShoes.sectionShoes1 .damage4 {z-index: 1;}
.sectionShoes.sectionShoes1 .damage4.fixed{position: fixed;top: 0;left: 0;}
.sectionShoes.sectionShoes1 .damage4.up{top: -100%;transition-duration: 0.9s;}
.sectionShoes.sectionShoes1 .shoesLeft{position: absolute;top: 0;left: 0;z-index: 10;width: 50%;height: 100vh;transition-duration: 0.7s;}
.sectionShoes.sectionShoes1 .shoesLeft.fixed{position: fixed;}
.sectionShoes.sectionShoes1 .shoesLeft.up{top: -100%;transition-duration: 0.9s;}
.sectionShoes.sectionShoes1 .shoesLeft .korEx {margin-top: calc(100vw*100/1920); color: red !important; display: none;}
.sectionShoes.sectionShoes1 .shoesLeft .korEx.on {display: block;}
.sectionShoes.sectionShoes1 .shoesLeft .fnf {margin-top: calc(100vw*100/1920); color: yellow !important; display: none;}
.sectionShoes.sectionShoes1 .shoesLeft .fnf.on {display: block;}
.sectionShoes.sectionShoes1 .shoesLeft p {text-align: center;width: 100vw;position: absolute;font-family:"Noto Sans KR",sans-serif;font-weight:700;color: white;font-size: calc(100vw*90/1920);top: 50%;left: 50%;transform:translateX(-50%) translateY(-50%);margin-bottom: calc(100vw*50/1920);;}
.sectionShoes.sectionShoes4 .shoesLeft2{position: absolute;top: 0;left: 0;z-index: 10;width: 50%;height: 100vh;transition-duration: 0.7s;}
.sectionShoes.sectionShoes4 .shoesLeft2.fixed{position: fixed;}
.sectionShoes.sectionShoes4 .shoesLeft2.up{top: -100%;transition-duration: 0.9s;}
.sectionShoes.sectionShoes4 .shoesLeft2 p {text-align: center;width: 100vh;position: absolute;font-family:"Noto Sans KR",sans-serif;font-weight:700;color: white;font-size: calc(100vw*90/1920);top: 50%;left: 50%;transform:translateX(-50%) translateY(-50%);}
.sectionShoes .shoesRight{position: absolute;top: 0;right: 0;z-index: 10;width: 50%;height: 100vh;border-left: solid 1px white;}
.sectionShoes .shoesRight img {position: absolute;top: 50%;left: 50%;width: 500px;transform:translateX(-50%) translateY(-50%);}

/* event */
.sectionEvent {position: relative;}
.sectionEvent .event {display: none;position: absolute; top: 0; left: 0; width: calc(100vw*1920/1920); z-index: 1;}
.sectionEvent .eventList {z-index: 2; left: 50%; top: 50%;position: absolute;font-size: calc(100vw*93/1920);transform:translateX(-50%) translateY(-50%);}
.sectionEvent .eventList li {text-align: center;font-family:"Noto Sans KR",sans-serif;font-weight:700;margin-bottom: 50px; white-space: nowrap;}
.sectionEvent .eventList li a {z-index: 2; color: #cdcdcd;}
.sectionEvent .eventList li.eventLi1 a:hover {color: yellow;}
.sectionEvent .eventList li.eventLi2 a:hover {color: red;}

/* contact */
.sectionContact{width: 100%;height: calc(100vw*300/1920);}
.sectionContact .contactDiv{width: calc(100vw*1280/1920);display: flex;margin-top: calc(100vw*50/1920);margin-left: auto;margin-right: auto;}
.sectionContact .contactDiv .contactItem{width: 100%;height: 200px;}
.sectionContact .contactDiv .contactItem img {position: relative;width: 100px;top: 50%;left: 50%;transform:translateX(-50%) translateY(-50%);filter: drop-shadow(5px 5px 5px #000)}
.sectionContact .contactImg {width: 100%;position: absolute;top: 0;left: 0;}

/* slider */
.banner{position:relative;width:500px;height:500px;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.banner .banner-wrap{overflow:hidden;position:relative;width:100%;height:100%}
.banner .banner-container{position:relative;width:4000px;height:100%}
.banner .banner-container::after{content:'';display:block;position:relative;clear:both}
.banner .banner-container .banner-item{display:-webkit-box;display:-ms-flex;display:flex;position:relative;float:left;width:500px;height:100%;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.banner .banner-container .banner-item .image-area{position:absolute;width:100%;height:100%}
.banner .banner-container .banner-item .image-area img{display:inline-block;width:100%;vertical-align:top}
.banner .banner-container .banner-item .text-area{position:relative;width:100%;text-align:center;color:#333;mix-blend-mode:hard-light}
.banner .banner-container .banner-item .text-area .title{text-transform:capitalize;font-size:30px;font-weight:700;line-height:40px}
.banner .banner-container .banner-item .text-area .title + .desc{margin-top:20px}
.banner .banner-container .banner-item .text-area .desc{font-size:16px;font-weight:500;line-height:26px}
.banner .dot-nav{position:absolute;z-index:50;bottom:20px;width:100%}
.banner .dot-nav ul{display:block;text-align:center}
.banner .dot-nav li{display:inline-block;padding-right:7px;padding-left:7px}
.banner .dot-nav li span{display:block;width:8px;height:8px;background-color:#888;border-radius:50%;line-height:8px;cursor:pointer;user-select:none;-webkit-transition:background-color 120ms ease-in-out}
.banner .dot-nav li span:hover{background-color:#666}
.banner .dot-nav li span.selected{background-color:red;cursor:default}
.banner .paddle-nav button{all: unset; position:absolute;z-index:50;top:50%;margin-top:-26px;font-size:80px;line-height:52px; cursor: pointer;}
.banner .paddle-nav button.disabled{display:none}
.banner .paddle-nav button.prev{left:-80px;}
.banner .paddle-nav button.next{right:-80px;}
.banner .paddle-nav button.prev::after{content:'<';margin-left:-0.044em;color: white;}
.banner .paddle-nav button.next::after{content:'>';margin-right:-0.044em;color: white;}