@font-face {
    font-family: 'pretendardExtraBold';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
    font-family: 'pretendardBold';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'pretendardMedium';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-Medium.otf') format('opentype');
}

html {overflow-x: hidden;}
body {width: calc(100vw*720/720); font-family: 'pretendardBold';}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

img {display: block;}

section {position: relative; width: 100vw; max-width: 720px;}

.section1 {z-index: 10; position: relative; width: 100vw; text-align: center; padding-top: calc(100vw*180/720); height: calc(100vw*1820/720); background-color: #fff;}
/* .section1.sticky {position: sticky; top: 0;} */
.section1 .sec1Top{height: calc(100vw*300/720); width: 100vw; overflow:hidden ;}
.section1 .sec1Top .text{color: black; font-size: calc(100vw*120/720); font-weight: bold; position: fixed; width: 100vw;}
.section1 .backText{width: 100vw; color: #fff; font-size: calc(100vw*120/720); font-weight: bold; z-index: 5;position: absolute; top: calc(100vw*570/720); margin-top: calc(100vw*-870/720); }
.section1 .sec1Img{z-index: 1; width: 100vw; height: calc(100vw*1520/720); background-color: black; overflow: hidden; position: relative;}
.section1 .sec1Img.fixed{ position: fixed; top: 0 !important; }
.section1 .sec1Img img{width: 100%;  position: relative;}

.section2 { z-index: 10; width: 100vw; position: relative;}
.section2 img { z-index: 10; width: 100vw;}
.section2 .sec2TextBox {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: calc(100vw*90/720); line-height: calc(100vw*146/720);width: 100%; text-align: center; color: white;}
.section2 .sec2TextBox .sec2Text {opacity: 0.6;}

.section3 {z-index: 10; width: 100vw; position: relative;}
.section3 .sec3Ul {position: absolute; top: calc(100vw*877/720); left: 50%; transform: translateX(-50%); text-align: center; width: 100%;}
.section3 .sec3Ul .sec3Li {opacity: 0.4; position: relative; height: calc(100vw*213/720); margin-bottom: calc(100vw*120/720); color: white; transition:.5s;}
.section3 .sec3Ul .sec3Li:nth-child(3) {height: calc(100vw*293/720);}
.section3 .sec3Ul .sec3Li .title{position: absolute; margin-top: calc(100vw*110/720); left: 50%; transform: translateX(-50%); font-size: calc(100vw*20/720);}
.section3 .sec3Ul .sec3Li .content{position: absolute; margin-top: calc(100vw*143/720); left: 50%; transform: translateX(-50%); font-size: calc(100vw*54/720); width: 100%; line-height: calc(100vw*80/720);}
.section3 .sec3Ul .sec3Li img {position: absolute; top: 0; left: 50%; transform: translateX(-50%)rotateY(80deg); width: calc(100vw*83/720); transition:.5s;}
.section3 > img { z-index: 10; width: 100vw;}

.section4 {z-index: 9; width: 100vw; height: calc(100vw*3000/720); text-align: center; background-color: #fff;}
.section4 .sec4Box {z-index: 9; width: 100vw; height: calc(100vh*1520/1520); position:fixed ; top: 0; left: 0;}
.section4 .sec4Box p {color: white; width: 100%; font-size: calc(100vw*120/720); z-index: 10; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); filter: brightness(50%); transition: .5s;}
.section4 .sec4Box img {z-index: 9; width: 100vw; height: 100vh; margin-top: calc(100vw*-1520/720); position: absolute; left: 50%; bottom: 50%; transform: translate(-50%, 50%); filter: brightness(50%); border-radius: 0px; transition: .5s; object-fit: cover;}
.section4 .sec4Box.absolute {position: absolute; top: auto; bottom: 0; left: 0;}

.section5 {z-index: 10; height: calc(100vw*2500/720); background-color: black;}
.section5 .sec5Box{z-index: 10; width: 100%; height: calc(100vh*1520/1520);}
.section5 .sec5Box.fixed{position: fixed; top: 0; left: 0;}
.section5 .sec5Box.absolute{position: absolute; bottom: 0; left: 0;}
.section5 .sec5Box .sec5ImgConBox{position: absolute; top: 0; left: 50%; transform: translateX(-50%); transition: .5s;}
.section5 .sec5Box .sec5ImgConBox .sec5ContentBox {color: white; width: calc(100vw*623/720); position: relative; left: 50%;transform: translateX(-50%); margin-top:calc(100vw*104/720); }
.section5 .sec5Box .sec5ImgConBox .sec5ContentBox p:nth-child(1) {font-size: calc(100vw*28/720); color: #CCCCCC; margin-bottom: calc(100vw*20/720);}
.section5 .sec5Box .sec5ImgConBox .sec5ContentBox p:nth-child(2) {font-size: calc(100vw*64/720); line-height: calc(100vw*80/720);margin-bottom: calc(100vw*46/720);}
.section5 .sec5Box .sec5ImgConBox .sec5ContentBox p:nth-child(3) {font-size: calc(100vw*28/720); color:#999999;line-height: calc(100vw*40/720);}
.section5 .sec5Box img {height: calc(100vw*1520/720); position: relative; top: 0; left: 50%; transform: translateX(-50%); transition: .5s;}
.section5 .sec5Box .sec5TitleBox{width: 100%; text-align: center; color: #fff; z-index: 10; height: 100%; position: absolute; top: calc(100vw*616/720);left: 50%; transform: translateX(-50%); transition: .5s;}
.section5 .sec5Box .sec5TitleBox .title{font-size: calc(100vw*140/720); font-family: 'pretendardExtraBold'; margin-bottom: calc(100vw*56.3/720); transition: .5s;}
.section5 .sec5Box .sec5TitleBox .content{font-size: calc(100vw*40/720); line-height: calc(100vw*60/720);transition: .5s;}

.section6 {z-index: 10; width: 100vw;height: calc(100vw*1520/720); background-color: red;}
.section6 .sec6TextBox {z-index: 10; color: #fff; position: absolute; top: calc(100vw*772/720); left: calc(100vw*58/720); opacity: 0; transition: .5s;}
.section6 .sec6TextBox p:nth-child(1) {font-size: calc(100vw*28/720); line-height: calc(100vw*40/720); color: #cccccc; margin-bottom: calc(100vw*24/720);}
.section6 .sec6TextBox p:nth-child(2) {font-size: calc(100vw*64/720); line-height: calc(100vw*80/720); margin-bottom: calc(100vw*56/720);}
.section6 .sec6TextBox p:nth-child(3) {font-size: calc(100vw*28/720); line-height: calc(100vw*42/720); color: #D1CBD2;}
.section6 img{z-index: 10; width: 100vw;}

.section7 {z-index: 10;height: calc(100vw*1520/720); }
.section7 img {z-index: 10; width: 100vw;}

.section8 {z-index: 8; width: 100vw; height: calc(100vw*3000/720); text-align: center; background-color: #fff;}
.section8 .sec8Box {z-index: 8; width: 100vw; height: calc(100vh*1520/1520); position:fixed ; top: 0; left: 0;}
.section8 .sec8Box p {color: white; width: 100%; font-size: calc(100vw*120/720); z-index: 10; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); filter: brightness(50%); transition: .5s;}
.section8 .sec8Box img {z-index: 8; width: 100vw; height: 100vh; margin-top: calc(100vw*-1520/720); position: absolute; left: 50%; bottom: 50%; transform: translate(-50%, 50%); filter: brightness(50%); border-radius: 0px; transition: .5s; object-fit: cover;}
.section8 .sec8Box.absolute {position: absolute; top: auto; bottom: 0; left: 0;}